---
- name: Install ufw
  ansible.builtin.package:
    name: ufw
    state: present
  become: true
  become_user: root

- name: Enable ufw logging
  community.general.ufw:
    logging: "on"
  ignore_errors: "{{ ansible_check_mode }}"
  become: true
  become_user: root

- name: "Apply mgmt ufw rules for {{ mgmt_dest }}"
  ansible.builtin.include_tasks: ufw_mgmt_rules.yml
  loop: "{{ ufw_mgmt_my_iprange }}"
  loop_control:
    loop_var: mgmt_dest

- name: "Allow tcp ports for public {{ ufw_public_allowed_tcp | join(', ') }}"
  community.general.ufw:
    rule: allow
    port: "{{ item | string }}"
    proto: tcp
  loop: "{{ ufw_public_allowed_tcp }}"
  ignore_errors: "{{ ansible_check_mode }}"
  become: true
  become_user: root

- name: "Allow udp ports for public {{ ufw_public_allowed_udp | join(', ') }}"
  community.general.ufw:
    rule: allow
    port: "{{ item | string }}"
    proto: udp
  loop: "{{ ufw_public_allowed_udp }}"
  ignore_errors: "{{ ansible_check_mode }}"
  become: true
  become_user: root

- name: Enable ip forwarding
  ansible.builtin.lineinfile:
    path: /etc/default/ufw
    regexp: "^DEFAULT_FORWARD_POLICY="
    line: 'DEFAULT_FORWARD_POLICY="ACCEPT"'
  when: ufw_forward_policy | bool
  ignore_errors: "{{ ansible_check_mode }}"
  become: true
  become_user: root

- name: Disable ip forwarding
  ansible.builtin.lineinfile:
    path: /etc/default/ufw
    regexp: "^DEFAULT_FORWARD_POLICY="
    line: 'DEFAULT_FORWARD_POLICY="DROP"'
  when: not ufw_forward_policy | bool
  ignore_errors: "{{ ansible_check_mode }}"
  become: true
  become_user: root

# See https://github.com/chaifeng/ufw-docker#solving-ufw-and-docker-issues for more information
# This is disabled, since its not really working as planned
# - name: Fix UFW for docker
#   ansible.builtin.blockinfile:
#     path: /etc/ufw/after.rules
#     block: |
#       # BEGIN UFW AND DOCKER
#       *filter
#       :ufw-user-forward - [0:0]
#       :ufw-docker-logging-deny - [0:0]
#       :DOCKER-USER - [0:0]
#       -A DOCKER-USER -j ufw-user-forward

#       -A DOCKER-USER -j RETURN -s 10.0.0.0/8
#       -A DOCKER-USER -j RETURN -s 172.16.0.0/12
#       -A DOCKER-USER -j RETURN -s 192.168.0.0/16

#       -A DOCKER-USER -p udp -m udp --sport 53 --dport 1024:65535 -j RETURN

#       -A DOCKER-USER -j ufw-docker-logging-deny -p tcp -m tcp --tcp-flags FIN,SYN,RST,ACK SYN -d 192.168.0.0/16
#       -A DOCKER-USER -j ufw-docker-logging-deny -p tcp -m tcp --tcp-flags FIN,SYN,RST,ACK SYN -d 10.0.0.0/8
#       -A DOCKER-USER -j ufw-docker-logging-deny -p tcp -m tcp --tcp-flags FIN,SYN,RST,ACK SYN -d 172.16.0.0/12
#       -A DOCKER-USER -j ufw-docker-logging-deny -p udp -m udp --dport 0:32767 -d 192.168.0.0/16
#       -A DOCKER-USER -j ufw-docker-logging-deny -p udp -m udp --dport 0:32767 -d 10.0.0.0/8
#       -A DOCKER-USER -j ufw-docker-logging-deny -p udp -m udp --dport 0:32767 -d 172.16.0.0/12

#       -A DOCKER-USER -j RETURN

#       -A ufw-docker-logging-deny -m limit --limit 3/min --limit-burst 10 -j LOG --log-prefix "[UFW DOCKER BLOCK] "
#       -A ufw-docker-logging-deny -j DROP

#       COMMIT
#       # END UFW AND DOCKER

- name: Enable and reload ufw and set deny as default
  community.general.ufw:
    state: enabled
    default: deny
  ignore_errors: "{{ ansible_check_mode }}"
  become: true
  become_user: root
